---
---

@import "{{ site.theme }}";

header {
    display: none;
}

footer {
    display: none;
}

section {
    max-width: 860px;
}

.posts {
    text-align: center;
    
}

.post h2{
    text-align: center;
    font-weight: bold;
    font-kerning: auto;
    font-feature-settings: "kern","liga","dlig","hlig","cswh";
    line-height: 1.2;
}

.post_date{
    text-align: center;
    color: #FF0000;
}
