---
---

@import "{{ site.theme }}";

header {
    display: block;
    width: 100%;
    max-width: 860px;
}

footer {
    position: relative;
}

section {
    width: auto;
    max-width: 860px;
    padding-top: 25px;
}

nav {
    float: right;
    font-size: 18px;
}

nav a {
    margin-left: 20px;
    color: #333;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
}

.posts {
    text-align: justify;
}

.read_more {
    text-align: center;
}

.post h2{
    text-align: center;
    font-weight: bold;
    font-kerning: auto;
    font-feature-settings: "kern","liga","dlig","hlig","cswh";
    line-height: 1.2;
}

.post_date{
    text-align: right;
}
